.profile-container {

  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-content {
  display: flex;
  justify-content: center;
}



.profile-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 300px;
  text-align: center;
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.profile-card h2 {
  margin-top: 10px;
}

.profile-details {
  margin-top: 20px;
}

.profile-details input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.profile-details p {
  margin: 5px 0;
}

.profile-details button {
  background-color: #2A265F;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.profile-details button:hover {
  background-color: #1C1A44;
  margin: 20px;
}
.profile-details input[type='text']
{
  width: 50%;
  padding: 10px;
  font-size: 16px;
}
.pr{
  height: 10%;
}