.container
{
    display: flex;
}
.sidebar{
    background-color:rgb(230, 230, 230);
    color:Black;
    height:190vh;
    width: 30px;
    transition: all 0.5s;
}
.top_section{
    display: flex;
    align-items: center;
    padding: 20px 15px;
}
.logo
{
    font-size: 30px;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 30px;
}
.link
{
    text-decoration: none;
    display: flex;
    color:black;
    padding: 15px 20px;
    gap: 20px;
    transition: all 0.5s;
}
.link:hover{
    background: rgb(146, 146, 146);
   
    color: black;
    transition: all 0.5s;
}
.link.active
{
    background-color: lightblue;
    color: black;
}
.icon,.link_text{
    font-size: 20px;
}