.cer-head
{
    font-style: italic;
    padding-left: 50px;
    background-size: cover;
    height: 25%;
    background-image: url('https://res.cloudinary.com/ddlw9iej1/image/upload/v1689303061/arrangement-different-medals_a0qqdh.jpg');
}
.rewards{
	padding-left: 5%;
	display: flex;
}
.bt{
    color: white;
	padding: 10px;
	margin: 10Px;
	background-color: #2A265F;
}
.clink
{
	color: #fff;
	text-decoration: none;
}